{% extends "base.html" %}

{% block content %}
<h1>设置新密码</h1>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <div>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.confirm_password.label }}<br>
        {{ form.confirm_password(size=32) }}<br>
        {% for error in form.confirm_password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>{{ form.submit() }}</div>
</form>
{% endblock %}